h1 {
  color: #89AAE6;
  text-decoration: dotted overline underline 5px;
  letter-spacing: 0px;
  word-spacing: 5px;
  text-shadow: 2px 2px 5px;
}
  body {
  background-color: #E6F7F8
}
img:hover {
  width: 380px;
  border: 15px;
  border-radius: 70%;
}

h1:hover {
  font-size: 250%;
  text-decoration: wavy underline;
}

nav {
  list-style-type: none;
  width: 100%;
  background-color: #89AAE6;
  position: fixed;
  top: 0;
  left: 0;
}

li a {
  color: white;
  text-decoration: none;
  display: block;
  float: left;
  padding: 15px 23px;
}

li a:hover {
  background-color: #FFFFFF;
  color: black;
}
